app = "case-solomon-backend2-api"
primary_region = "ams"

[build]
  dockerfile = "Dockerfile"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[env]
  JWT_SECRET = "minha-chave-secreta-jwt-super-segura"
  # DATABASE_URL será configurado depois que o postgres for deployado
  # Por enquanto, deixe vazio ou use uma URL temporária

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 256

